*{
  box-sizing: border-box;
}

body{
  background: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;

}

.container{
  margin: 30px;
  width: 350px;
}
